
      <section class="navbar-section">
      <nav class="navbar navbar-default navbar-static-top">
            <a title="Left Sidebar" class="button-left-sidebar trigger-toggle-sidebar">
                <img src="assets/images/imagetop.jpg">
            </a>
            <div class="setting-icon mr-5">
                    <img class="img-fluid text-right " src="assets/images/settings.png" style="width:70%;background:transparent">
                      <ul class="settings-content">
                         <li class="setting-text"><a class="text-center" style="color: #fff">Hi Admin</a></li>
            
                         <li class="setting-text" routerLink="../login"><a class="text-center logoff" style="color: #fff"><i class="fa fa-power-off"></i>&nbsp; Logout</a></li>
                      </ul>
                      </div>

        </nav>
        </section>