<main id="main">
  <div class="content">

    <div class="card" id="topcard">
      <div class="container">
        <div class="row" id="row1">

          <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 nopadding">
            <span><img src="assets/images/Group-icon.png"></span>
            <select class="selectteam">
              <option value="" disabled selected>Team Name</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="project-sub">
    <div class="container-fluid">

      <div class="row">
        <div class="col-md-12">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class=" title-page" style="   font-family: corpoS-bold;   padding: 25px 0;">
              <!-- <img src="assets/images/project-icon.png">&nbsp;&nbsp; -->
              Members Overview
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" style="display:flex;width: 99%;">
          <div class=" table-responsive" style="width: 550px;">
            <table class="table  table-bordered text-center" id="myTable1part1">
              <thead class="text-center">
                <tr style="background: #EAEAEA;
                    border: 1px solid #979797;
                    border-radius: 2px;height: 37px;">
                  <th colspan="2" style="border: 1px solid #979797;"></th>
                  <th style="border: 1px solid #979797;"></th>
                  <th style="border: 1px solid #979797;"></th>
                </tr>
                <tr style="background: #EAEAEA;
                    border: 1px solid #979797;
                    border-radius: 2px;">
                  <th class="text-center" style="border: 1px solid #979797;">S.No</th>
                  <th class="text-center" style="border: 1px solid #979797;">Name</th>
                  <th class="text-center" style="border: 1px solid #979797;">Total Tasks</th>
                  <th class="text-center" style="border: 1px solid #979797;">Total Tasks</th>
                </tr>
                <tr style="background: #D8D8D8;
                    border: 1px solid #979797;">
                  <th class="text-center"style="border: 1px solid #979797;" colspan="2">Total Tasks</th>
                  <th class="text-center" style="border: 1px solid #979797;">212</th>
                  <th class="text-center" style="border: 1px solid #979797;">122</th>
                </tr>
              </thead>

              <tbody *ngFor="let list of memberData?.data; let i = index">
                <tr>
                  <td>{{i+1}}</td>
                  <td>{{list.name}}</td>
                  <td>{{list.ttask}}</td>
                  <td>{{list.tasks}}</td>

                </tr>


              </tbody>
            </table>
          </div>
          <div class="table-responsive" style="width: 450px;">
            <table class="table  table-bordered text-center">
              <thead class="text-center">
                <tr style="background: #EAEAEA;
                      border: 1px solid #979797;
                      border-radius: 2px;">
                  <th colspan="3" class="text-center" style="border: 1px solid #979797;">Tasks in Progress</th>

                </tr>
                <tr style="background: #EAEAEA;
                      border: 1px solid #979797;
                      border-radius: 2px;">
                  <th class="text-center" style="border: 1px solid #979797;">Number</th>
                  <th class="text-center"style="border: 1px solid #979797;">Current Target</th>
                  <th class="text-center"style="border: 1px solid #979797;">Next Month</th>

                </tr>
                <tr style="background: #D8D8D8;
                      border: 1px solid #979797;">
                  <th class="text-center"style="border: 1px solid #979797;">54</th>
                  <th class="text-center"style="border: 1px solid #979797;">212 </th>
                  <th class="text-center"style="border: 1px solid #979797;">212</th>
                </tr>
              </thead>
              <tbody>
                
                  <ng-container *ngFor="let list of memberData?.data; let i = index">
                      <ng-container *ngFor="let year of memberData?.years; let index3 = index">
                          <ng-container *ngFor="let month of memberData?.months[index3];let j=index;">
                      <tr>
                            <td colspan="3" *ngIf="projectmonth(year,month,i)" style="padding: 12px 0px;" >
                                    <p class="plan-cell" >
                                    </p>
                            </td>
                      </tr>
                    </ng-container>
                  </ng-container>
                    </ng-container>
                    <img src="assets/images/chartline1.png" class="linechart">
              </tbody>
            </table>

          </div>
          <div class="table-responsive " style="width: 450px;">
            <table class="table  table-bordered text-center">
              <thead class="text-center">
                <tr style="background: #EAEAEA;
                      border: 1px solid #979797;
                      border-radius: 2px;">
                  <th colspan="2"class="text-center" style="border: 1px solid #979797;">No of task closed</th>
                  <th class="text-center"  style="border: 1px solid #979797;">Actual Project</th>
                </tr>
                <tr style="background: #EAEAEA;
                      border: 1px solid #979797;
                      border-radius: 2px;">
                  <th class="text-center"style="border: 1px solid #979797;" >Hours</th>
                  <th class="text-center" style="border: 1px solid #979797;">Days</th>
                  <th class="text-center" style="border: 1px solid #979797;">Days</th>

                </tr>
                <tr style="background: #D8D8D8;
                      border: 1px solid #979797;">
                  <th class="text-center" style="border: 1px solid #979797;">0</th>
                  <th class="text-center" style="border: 1px solid #979797;">0</th>
                  <th class="text-center" style="border: 1px solid #979797;">0</th>
                </tr>
              </thead>
              <tbody>
                  <ng-container *ngFor="let list of memberData?.data; let i = index">
                      <ng-container *ngFor="let year of memberData?.years; let index3 = index">
                          <ng-container *ngFor="let month of memberData?.months[index3];let j=index;">
                      <tr>
                            <td colspan="3" *ngIf="projectmonth(year,month,i)" style="padding: 12px 0px;" >
                                    <p class="plan-cell2" >
                                    </p>
                            </td>
                      </tr>
                    </ng-container>
                  </ng-container>
                    </ng-container>
                    <img src="assets/images/linechart2.png" class="linechart2">
              </tbody>
            </table>

          </div>
        </div>
        <!-- <div class="col-md-12 table-responsive">
          <table class="table" id="member-table" style="width:98%">
            <thead>
              <tr>
                <th colspan="2"></th>
                <th></th>
                <th></th>
                <th colspan="3">Tasks in Progress</th>
                <th colspan="2">No of task closed</th>
                <th>Actual Project</th>
              </tr>
              <tr>
                <th>S.No</th>
                <th>Name</th>
                <th>Total Tasks</th>
                <th>Total Tasks</th>
                <th>Number</th>
                <th>Current Target</th>
                <th>Next Month</th>
                <th>Hours</th>
                <th>Days</th>
                <th>Days</th>
              </tr>
              <tr class="secrow">
                  <th colspan="2">Total Tasks</th>
                  <th>212</th>
                  <th>122</th>
                  <th>43</th>
                  <th>162</th>
                  <th>9</th>
                  <th>0</th>
                  <th>0</th>
                  <th></th>
                </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let data of memberData?.data; let i=index">
              <tr>
                <td style="border-right: 1px solid #979797;border-left: 1px solid #979797;">{{i+1}}</td>
                <td style="border-right: 1px solid #979797;">{{data.name}}</td>
                <td style="border-right: 1px solid #979797;">{{data.ttask}}</td>
                <td style="border-right: 1px solid #979797;">{{data.tasks}}</td>
                <td ></td>
                <td></td>
                <td style="border-right: 1px solid #979797;"></td>
                <td></td>
                <td></td>
                <td style="border-right: 1px solid #979797;"></td>
              </tr>
              </ng-container>
            </tbody>
          </table>
        </div> -->
      </div>
    </div>
  </div>
</main>